/* Стиль для навигации с левым бордером */

.md-nav__item {
    border-left: 2px solid #e6e6e6;
    padding-left: 10px;
}
a.md-nav__link{
    margin-top: 0px;
    padding-top: .625em;
    margin-bottom: 0px;
    padding-bottom: .625em;
}
ul.md-nav__list {
    margin-top: 20px;
}

.md-nav__item:active {
    border-left: 2px solid #7e7e7e;
    padding-left: 10px;
}